{% extends "page/layout_admin.html" %}
{% block title %}
    Danh Sách Chi Tiết Sản Phẩm
{% endblock %}

{% block content %}
<div class="card bg-white">
    <div class="card-header">
        <div class="text-center">
            <strong class="text-uppercase text-danger text-center">DANH SÁCH CHI TIẾT SẢN PHẨM</strong>
        </div>
        <div class="col-md-12 text-end">
            <a href="{% url 'admincustom:ThemCTSP' %}" class="btn btn-sm btn-success">Thêm</a>
        </div>
    </div>

    <div class="card-body p-3 bg-white">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width:20px" class="text-center">#</th>
                    <th style="width:20px" class="text-center">Mã Chi Tiết SP</th>
                    <th style="width:90px" class="text-center">Mã Sản Phẩm</th>
                    <th style="width:90px" class="text-center">Mã Thương Hiệu</th>
                    <th style="width:90px" class="text-center">Xuất Xứ</th>
                    <th style="width:90px" class="text-center">Dòng Máy</th>
                    <th style="width:90px" class="text-center">Chất Liệu</th>
                    <th style="width:90px" class="text-center">Phong Cách</th>
                    <th style="width:90px" class="text-center">Đối Tượng</th>
                    <th style="width:90px" class="text-center">Mã Danh Mục</th>
                    <th style="width:60px" class="text-center">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                {% for ctsp in list_ctsp %}
                <tr>
                    <td class="text-center">
                        <input name="checkID" type="checkbox" />
                    </td>
                    <td class="text-center">{{ ctsp.MaChiTietSP }}</td>
                    <td class="text-center">{{ ctsp.MaSP.TenSP }}</td>
                    <td class="text-center">{{ ctsp.MaThuongHieu.TenThuongHieu }}</td>
                    <td class="text-center">{{ ctsp.XuatXu }}</td>
                    <td class="text-center">{{ ctsp.DongMay }}</td>
                    <td class="text-center">{{ ctsp.ChatLieu }}</td>
                    <td class="text-center">{{ ctsp.PhongCach }}</td>
                    <td class="text-center">{{ ctsp.DoiTuong }}</td>
                    <td class="text-center">{{ ctsp.MaDanhMuc.TenDanhMuc }}</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <a href="{% url 'admincustom:SuaCTSP' MaChiTietSP=ctsp.MaChiTietSP %}" class="btn btn-sm btn-success">Edit</a>
                            <a href="{% url 'admincustom:XoaCTSP' MaChiTietSP=ctsp.MaChiTietSP %}" class="btn btn-sm btn-danger">Delete</a>
                            <a href="{% url 'admincustom:ChiTietCTSP' MaChiTietSP=ctsp.MaChiTietSP %}" class="btn btn-sm btn-success">View</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
