{% extends "page/layout.html" %}

{% block title %}
Order Check
{% endblock %}
{% block container %}
{% load custom_filters %}

<style>
    .product-cart {
        display: block;
        max-width: 800px !important;
    }

    table {
        text-align: center
    }
</style>
<div class="wrapper-cart">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <div class="product-cart">
        <div class="cart-top">
            <a href="/" class="link-to-home">Mua thêm sản phẩm khác</a>
            <h1 class="title_cart" style="font-size: 1.5rem;">
                <span>Thông Tin Đơn Hàng</span>
            </h1>
        </div>
        <div class="product-list">
        </div>
        <div class="total-card-code cls">
            <div class="page-order-check">
                <div class="page-check-order">
                    <div class="buyer_info">
                        <div class="shadow box-info box-info-member">
                            <table>
                                <thead>
                                    <tr style="color:red">
                                        <th>Mã Đơn</th>
                                        <th>Xem Chi Tiết</th>
                                        <th>Địa Chỉ</th>
                                        <th>Ngày Giao</th>
                                        <th>Tổng tiền</th>
                                        <th>Trạng Thái</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                                        <div class="modal fade" id="orderDetailsModal" tabindex="-1" role="dialog" aria-labelledby="orderDetailsModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="orderDetailsModalLabel">Chi tiết đơn hàng</h5>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p id="orderDetailsContent"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <script>
                                            $(document).ready(function () {
                                                $('.order-details-link').click(function () {
                                                    var MaDon = $(this).data('order-id');
                                                    $.ajax({
                                                        url: '/get_order_details/' + MaDon + '/',
                                                        method: 'GET',
                                                        success: function (response) {
                                                            if (response.MaDon === MaDon) {
                                                                var orderDetailsContent = "";
                                                                for (var i = 0; i < response.ChiTietDonHang.length; i++) {
                                                                    orderDetailsContent += "SẢN PHẨM SỐ: " + (i + 1);
                                                                    orderDetailsContent += "<p>Mã CTĐH: " + response.ChiTietDonHang[i].MaCTDH + "</p>";
                                                                    orderDetailsContent += "<p>Tên SP: " + response.ChiTietDonHang[i].MaSP + "</p>";
                                                                    orderDetailsContent += "<p>Số lượng: " + response.ChiTietDonHang[i].SL + "</p>";
                                                                    orderDetailsContent += "<p>Total: " + response.ChiTietDonHang[i].Total + "</p>";
                                                                    orderDetailsContent += "<p>Giá bán: " + response.ChiTietDonHang[i].GiaBan + "</p>";
                                                                    orderDetailsContent += "<p>Giá giảm: " + response.ChiTietDonHang[i].GiaGiam + "</p>";
                                                                }
                                                                $('#orderDetailsContent').html(orderDetailsContent);
                                                                $('#orderDetailsModal').modal('show');
                                                            }
                                                        },
                                                        error: function (xhr, status, error) {
                                                            console.log(error);
                                                        }
                                                    });
                                                });
                                            });
                                        </script>
                                        <td>{{ order.MaDon }}</td>
                                        <td>
                                            <a href="#" class="order-details-link" data-toggle="modal" data-target="#orderDetailsModal" data-order-id="{{ order.MaDon }}">Xem chi tiết</a>
                                        </td>
                                        <td>{{ order.DiaChi }}</td>
                                        <td>{{ order.NgayGiao }}</td>
                                        <td>{{ order.TongTien|format_vnd }}</td>
                                        <td>{{ order.TransactStatusID.Status }}</td>
                                        {% if order.TransactStatusID != 1%}
                                        <script>
                                            $(document).ready(function () {
                                                $("#cancel-form-{{ order.MaDon }}").submit(function (event) {
                                                    event.preventDefault();
                                                    var form = $(this);
                                                    var url = form.attr("action");
                                                    var formData = new FormData(form[0]);

                                                    $.ajax({
                                                        type: "POST",
                                                        url: url,
                                                        data: formData,
                                                        processData: false,
                                                        contentType: false,
                                                        headers: {
                                                            "X-CSRFToken": form.find("[name=csrfmiddlewaretoken]").val()
                                                        },
                                                        success: function (response) {
                                                            if (response.success) {
                                                                window.location.href = "{% url 'order' %}";
                                                            } else {
                                                                $("#cancelErrorModal-{{ order.MaDon }}").modal("show");
                                                                setTimeout(function() {
                                                                $("#cancelErrorModal-{{ order.MaDon }}").modal("hide");
                                                            }, 2000);
                                                            }
                                                        },
                                                        error: function (xhr, status, error) {
                                                        }
                                                    });
                                                });
                                            });
                                        </script>
                                        <div class="modal fade" id="cancelErrorModal-{{ order.MaDon }}" tabindex="-1"
                                             role="dialog" aria-labelledby="cancelErrorModalLabel-{{ order.MaDon }}"
                                             aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title"
                                                            id="cancelErrorModalLabel-{{ order.MaDon }}">
                                                            Lỗi khi hủy đơn
                                                            hàng
                                                        </h5>
                                                    </div>
                                                    <div class="modal-body">
                                                        Đơn hàng đã được giao không thể hủy
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        <td>
                                            <form id="cancel-form-{{ order.MaDon }}"
                                                  action="{% url 'cancel_order' MaDon=order.MaDon %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="MaDon" value="{{ order.MaDon }}">
                                                <button type="submit" class="btn btn-danger">Hủy đơn hàng</button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <hr />
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}