{% extends "page/layout_admin.html" %}
{% block title %}
    Thêm SP
{% endblock %}

{% block content %}

<div class="card bg-white">
    <div class="card-header">
        <div class="text-center">
            <strong class="text-uppercase text-danger text-center">Thêm Sản Phẩm</strong>
        </div>
    </div>
    <form action="ThemSP" method="post">
        {% csrf_token %}
        <div class="card-body p-3 bg-white">
            <div class="form-horizontal">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="product-name">Mã Sản Phẩm</label>
                                <div class="col-md-5">
                                    <input type="text" id="product-name" name="{{ form.MaSP.name }}" class="form-control">
                                </div>
                            </div>
                            {{ form.MaSP.errors }}
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="product-name">Tên Sản Phẩm</label>
                                <div class="col-md-5">
                                    <input type="text" id="product-name" name="{{ form.TenSP.name }}" class="form-control">
                                </div>
                            </div>
                            {{ form.TenSP.errors }}
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="product-name">Số Lượng</label>
                                <div class="col-md-5">
                                    <input type="number" id="product-name" name="{{ form.SoLuong.name }}" class="form-control">
                                </div>
                                {{ form.SoLuong.errors }}
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <!-- <label for="product-name">Người Tạo</label> -->
                                <div class="col-md-5">
                                    <input type="hidden" id="product-name" name="{{ form.NguoiTao.name }}" value="{{ request.session.user_id }}" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="product-name">Hình Ảnh</label>
                                <div class="col-md-5">
                                    <input type="file" name="{{ form.HinhAnh.name }}" class="form-control" style="background-color:white" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="product-name">Mô Tả</label>
                                <div class="col-md-5">
                                    <textarea class="form-control" name="{{ form.MoTa.name }}" rows="5" style="color: black; background-color: white;"></textarea>
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            {{ form.MoTa.errors }}
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="product-name">Giá Bán</label>
                                <div class="col-md-5">
                                    <input type="text" id="product-name" name="{{ form.GiaBan.name }}" class="form-control">
                                </div>
                            </div>
                            {{ form.GiaBan.errors }}
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="product-name">Giá Giảm</label>
                                <div class="col-md-5">
                                    <input type="text" id="product-name" name="{{ form.GiaGiam.name }}" class="form-control">
                                </div>
                            </div>
                            {{ form.GiaGiam.errors }}
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="product-name">Trạng Thái</label>
                                <div class="col-md-5">
                                    <select class="form-select" aria-label="Default select example" name="{{ form.TrangThai.name }}">
                                        <option selected>Chọn trạng thái</option>
                                        <option value="1">On</option>
                                        <option value="0">Off</option>
                                    </select>
                                </div>
                            </div>
                            {{ form.TrangThai.errors }}
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="product-name">Loại Sản Phẩm</label>
                                <div class="col-md-5">
                                    <select class="form-select" aria-label="Default select example" name="{{ form.MaLoaiSP.name }}" id="id_MaLoaiSP">
                                        <option selected>Open this select menu</option>
                                        {% for loai_sp in loai_sp_list %}
                                        <option value="{{ loai_sp.MaLoaiSP }}">{{ loai_sp.TenLoaiSP }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            {{ form.MaLoaiSP.errors }}
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" style="background-color:black;color: white;" />
                                    <button type="button" class="btn btn-success"><a href="{% url 'admincustom:index_sp'%}" style="color: white;text-decoration: none;">Back</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}