{% extends "page/layout_admin.html" %}

{% block title %}
    Chi tiết danh mục thương hiệu
{% endblock %}

{% block content %}
<div class="card bg-white">
    <div class="card-header">
        <div class="text-center">
            <strong class="text-uppercase text-danger text-center">Chi tiết danh mục thương hiệu</strong>
        </div>
    </div>
    <div class="card-body p-3 bg-white">
        <div class="card-body p-3 bg-white">
            <table class="table">
                <tr>
                    <th>
                        Mã Danh Mục
                    </th>
                    <td>
                        {{ dmth.MaDanhMuc }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Tên Danh Mục
                    </th>
                    <td>
                        {{ dmth.TenDanhMuc }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Tên Menu
                    </th>
                    <td>
                        {{ dmth.MaMenu.TenMenu }}
                    </td>
                </tr>
            </table>
            <p>
                <button type="button" class="btn btn-info"><a href="{% url 'admincustom:SuaDMTH' MaDanhMuc=dmth.MaDanhMuc %}" style="color: white;text-decoration: none;">Chỉnh sửa</a></button>
                <button type="button" class="btn btn-success"><a href="{% url 'admincustom:index_dmth' %}" style="color: white;text-decoration: none;">Quay lại</a></button>
            </p>
        </div>
    </div>
</div>
{% endblock %}
